.game-over {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #303030;
    border-radius: 0.3rem;
    display: none;
    .congrats {
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        color: white;
        margin-bottom: 25px;
    }
    .text {
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        color: white;
    }
    .button-game-over {
        width: 100%;
        padding: 15px;
        margin: 25px 0;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: #00bc8c;
        cursor: pointer;
        color: white;
        &:hover {
            background-color: #00efb2;
        }
    }
}
