.bird-card {
    background-color: #303030;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 1rem;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .bird-card {
        width: 550px;
        height: 266px;
    }
}
