.bird-card {
    background-color: #303030;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 1rem;
}


.bird-card.bird-card-description{
    margin: 0px;
    width: 100%;
}

@media (max-width: 992px) {
    .bird-card.bird-card-description {
        margin-top: 25px;
    }
  }


