.bird-card {
    background-color: #303030;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 1rem;
}


.bird-card.bird-card-description{
    margin: 0px;
    width: 100%;
}

@media (max-width: 767px){
.bird-card.bird-card-description{
    display: block;
    margin-top: 25px;
}
}

// .main-content {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }
